apiVersion: v2
name: kapparmor
description: A project to deploy profiles through a kubernetes daemonset and a configmap
type: application
home: https://artifacthub.io
kubeVersion: ">= 1.23.0-0"
icon: https://raw.githubusercontent.com/tuxerrante/kapparmor/main/img/kapparmor_logo_64.jpg
# Respect spaces and double quotes since this will be validated by the test_on_docker script.
version: "0.3.0"
appVersion: "0.3.0"

keywords:
  - kubernetes
  - helm
  - security
  - apparmor

maintainers:
  - name: tuxerrante
    url: https://github.com/sponsors/tuxerrante
