apiVersion: v1
kind: ConfigMap
metadata:
  name: kapparmor-profiles
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kapparmor.labels" . | nindent 4 }}
    {{- with .Values.app.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
data:
{{- $files := (.Files.Glob "profiles/*") }}
{{- if $files }}
{{ $files.AsConfig | indent 2 }}
{{- else }}
  placeholder: "no profiles found"
{{- end }}
