name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - main
      - feature/*
      - fix/* 
  pull_request:
permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6.0.0
        with:
          go-version: 1.25
      - uses: actions/checkout@v5.0.0
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: latest
          args: --timeout=5m
